html,
body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    
    background-color: rgb(0, 111, 202);

}


  
.h1 {
    font-family: 'Ubuntu';
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
}
ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
.footer {
    
    justify-content: left;
    background-color:rgb(0, 111, 202);
  }
  
  .footer a {
    padding-top: 10px;
    margin: 0 10px;

  }
#header {
    display: flex;
    background-color:rgb(0, 111, 202);
    font-size: 18px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

#content {
    margin-top: 10%;
}

#header-img {
    flex: column;
    padding: 5%;
    padding-left: 10%;

}

#nav-bar {
    flex: 1;
    text-align: right;
    padding: 1px;
}

#nav-bar > ul > li {
    display: inline-flex;
    list-style-type: none;
    
    padding-left: 30px;
    padding-right: 40px;

}
div.wizard {
background-color: white;
color: white;
}
.nav-link { 
    text-decoration: none;
    color: rgb(227, 240, 255);
    text-align: center;
    font-weight: bold;
    font-display: ;
    text-shadow: blue;
    margin-left: 50px;
}

#stripes {
	height: 100vh;
	background: linear-gradient(150deg, rgb(149, 211, 253) 1%,white 15%, white 100%);



	clip-path: polygon(100% 0, 100% 70%, 0 99%, 0 0);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
}


.btn-outline-primary {
    border: rgb(22, 122, 252) ;
    color: rgb(22, 122, 252);
  }
  
  .btn {
    color: rgb(255, 255, 255);
    box-shadow: rgb(22, 122, 252) ;
  }
  
  .btn-primary {
    background: rgb(22, 122, 252) ;

  }
  
  .btn-gradient {
    background: rgb(22, 122, 252) ;
    color: white;
  }
  
  .btn-rounded {
    border-radius: 5px;
    height: 50px;
  }

  .orb-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }
  
  strong {
    font-weight: 600;
  }
  div.card1 {
    padding:0.8em;
    display: flex-box;
    position: center;



}
.card1 {
    position: center;
    display: flex-box;

}
  .overlay {
    width: 100%;
    max-width: 1140px;
    max-height: 640px;
    padding: 8rem 6rem;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(165, 165, 165, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  
  .overlay__inner {
    max-width: 36rem;
  }
  
  .overlay__title {
    font-size: 1.875rem;
    line-height: 2.75rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-bottom: 2rem;
  }
  
  .text-gradient {
    background-image: linear-gradient(
      45deg,
      var(--base) 25%,
      var(--complimentary2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  .overlay__description {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-bottom: 3rem;
  }
  
  .overlay__btns {
    width: 100%;
    max-width: 30rem;
    display: flex;
  }
  
  .overlay__btn {
    width: 50%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--light-color);
    background: var(--dark-color);
    border: none;
    border-radius: 0.5rem;
    transition: transform 150ms ease;
    outline-color: hsl(var(--hue), 95%, 50%);
  }
  
  .overlay__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .overlay__btn--transparent {
    background: transparent;
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-width: 2px;
    margin-right: 0.75rem;
  }
  
  .overlay__btn-emoji {
    margin-left: 0.375rem;
  }
 
  /* Not too many browser support this yet but it's good to add! */
  @media (prefers-contrast: high) {
    .orb-canvas {
      display: none;
    }
  }
  
  @media only screen and (max-width: 1140px) {
    .overlay {
      padding: 8rem 4rem;
    }
  }
  
  @media only screen and (max-width: 840px) {
    body {
      padding: 1.5rem;
    }
  
    .overlay {
      padding: 4rem;
      height: auto;
    }
  
    .overlay__title {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
  
    .overlay__description {
      font-size: 0.875rem;
      line-height: 1.5rem;
      margin-bottom: 2.5rem;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .overlay {
      padding: 1.5rem;
    }
  
    .overlay__btns {
      flex-wrap: wrap;
    }
  
    .overlay__btn {
      width: 100%;
      font-size: 0.75rem;
      margin-right: 0;
    }
  
    .overlay__btn:first-child {
      margin-bottom: 1rem;
    }
  }
  